{% extends 'layout.html' %}

<!-- title -->
{% block title %}
  imazato
{% endblock %}


<!-- body -->
{% block body %}
  <div class="container py-5 text-center">
    <h3>Your Image is here.</h3>
    <div class="w-50 my-3 mx-auto">
      <img src="{{url_for('static',filename = name)}}" id="img-preview">
    </div>
    <div class="d-flex justify-content-center">
      <a href="/uploads/{{name}}"><button class="btn btn-primary m-2">DOWNLOAD</button></a>
      <a href="/delete/{{name}}"><button class="btn btn-danger m-2">DELETE</button></a>
    </div>
    
  </div>
{% endblock%}